
<div class="card-trip">
  <div class="new-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
  Breakfast
  </div>
  <div class="card-trip-infos">
    <div>
      <h2><%= @cocktail.name %></h2>
      <p><% @cocktail.doses.each do |dose|%>
          <%= dose.description %>
          <%= dose.ingredient.name %>
          <%= link_to "Remove",
                  dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
          <% end %>
        </p>
      <h2><%= link_to 'Dose Your Cocktail', new_cocktail_dose_path(@cocktail) %></h2>
    </div>
    <h2 class="card-trip-pricing"><%= link_to 'Back To Menu', cocktails_path %></h2>
    <img src="https://assets3.thrillist.com/v1/image/1868462/size/tmg-article_default_mobile.jpg" class="card-trip-user avatar-bordered" />
  </div>
</div>


